<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrivateGithubFeed" value="https://nuget.pkg.github.com/jonwong84/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <PrivateGithubFeed>
      <add key="Username" value="jonwong84" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </PrivateGithubFeed>
  </packageSourceCredentials>
</configuration>